## Compiled
useDynLib(frame, .registration = TRUE)

## Imports
importFrom(stats, reorder)

importFrom(utf8, as_utf8)
importFrom(utf8, output_ansi)
importFrom(utf8, output_utf8)
importFrom(utf8, utf8_encode)
importFrom(utf8, utf8_format)
importFrom(utf8, utf8_valid)
importFrom(utf8, utf8_width)

## Exports

### record

export(record)
export(is.record)
export(as.record)

S3method(as.record, default); export(as.record.default)
S3method(as.record, record)
S3method(c, record); export(c.record)

S3method(`length<-`, record)
S3method(`names<-`, record)
S3method(`$`, record)
S3method(`$<-`, record)
S3method(`[`, record)
S3method(`[<-`, record)
S3method(`[[`, record)
S3method(`[[<-`, record)

S3method(as.list, record) ; export(as.list.record)
S3method(format, record)  ; export(format.record)
S3method(print, record)   ; export(print.record)


### dataset

export(dataset)
export(is.dataset)
export(as.dataset)

S3method(as.dataset, data.frame) ; export(as.dataset.data.frame)
S3method(as.dataset, matrix)     ; export(as.dataset.matrix)
S3method(as.dataset, default)    ; export(as.dataset.default)
S3method(as.dataset, record)     ; export(as.dataset.record)

S3method(dim, dataset)
S3method(dimnames, dataset)
S3method(`$<-`, dataset)
S3method(`[`, dataset)
S3method(`[<-`, dataset)
S3method(`[[<-`, dataset)

S3method(cbind, dataset) ; export(cbind.dataset)
S3method(rbind, dataset) ; export(rbind.dataset)

S3method(format, dataset) ; export(format.dataset)
S3method(print, dataset)  ; export(print.dataset)

S3method(unique, dataset)        ; export(unique.dataset)
S3method(duplicated, dataset)    ; export(duplicated.dataset)
S3method(anyDuplicated, dataset) ; export(anyDuplicated.dataset)

S3method(reorder, dataset) ; export(reorder.dataset)
S3method(xtfrm, dataset)   ; export(xtfrm.dataset)


### schema

export(schema)
S3method(schema, default) ; export(schema.default)
S3method(schema, record)  ; export(schema.record)


### cast

export(cast)

S3method(cast, default) ; export(cast.default)
S3method(cast, factor)  ; export(cast.factor)
S3method(cast, Date)    ; export(cast.Date)
S3method(cast, POSIXct) ; export(cast.POSIXct)
S3method(cast, record)  ; export(cast.record)

export(cast.NULL)
export(cast.logical)
export(cast.raw)
export(cast.integer)
export(cast.double)
export(cast.complex)
export(cast.character)
export(cast.vector)


### idproxy

export(idproxy)
S3method(idproxy, dataset) ; export(idproxy.dataset)
S3method(idproxy, default) ; export(idproxy.default)
S3method(idproxy, matrix)  ; export(idproxy.matrix)


### normal

export(as.normal)
export(is.normal)
export(is.normal.dataset)

S3method(as.normal, default) ; export(as.normal.default)
S3method(as.normal, dataset) ; export(as.normal.dataset)

S3method(as.normal, Date)
S3method(as.normal, POSIXct)
S3method(as.normal, POSIXlt)
S3method(as.normal, factor)
S3method(as.normal, normal)

S3method(`[`, normal)
S3method(`[<-`, normal)
S3method(`[[`, normal)
S3method(`[[<-`, normal)
S3method(`levels<-`, normal)


### keyset

export(keyset)
export(is.keyset)
export(as.keyset)

S3method(as.keyset, dataset) ; export(as.keyset.dataset)
S3method(as.keyset, default) ; export(as.keyset.default)
S3method(as.keyset, keyset)

S3method(unique, keyset)        ; export(unique.keyset)
S3method(duplicated, keyset)    ; export(duplicated.keyset)
S3method(anyDuplicated, keyset) ; export(anyDuplicated.keyset)


### lookup, rowid

export(lookup)
export(rowid)

S3method(rowid, default) ; export(rowid.default)
S3method(rowid, keyset)  ; export(rowid.keyset)
S3method(rowid, NULL)    ; export(rowid.NULL)


### keys

export(keys)
S3method(keys, dataset)
S3method(keys, default)

export(`keys<-`)
S3method(`keys<-`, dataset)
S3method(`keys<-`, keyset)


### scope

export(scope)


### functor

export(do)

export(map_)
S3method(map_, default); export(map_.default)

export(map)
S3method(map, default)           ; export(map.default)

export(NULL.map)
S3method(NULL.map, default)      ; export(NULL.map.default)

export(logical.map)
S3method(logical.map, default)   ; export(logical.map.default)

export(raw.map)
S3method(raw.map, default)       ; export(raw.map.default)

export(integer.map)
S3method(integer.map, default)   ; export(integer.map.default)

export(double.map)
S3method(double.map, default)    ; export(double.map.default)

export(complex.map)
S3method(complex.map, default)   ; export(complex.map.default)

export(character.map)
S3method(character.map, default) ; export(character.map.default)

export(list.map)
S3method(list.map, default)      ; export(list.map.default)

export(numeric.map)


## old # exports (need fixing)
# export(as.data.frame.dataset)
# export(as.matrix.dataset)
# export(framed)
# export(framed.dataset)
# export(framed.default)
# export(grouped)
# export(grouped.dataset)
# export(grouped.default)
# export(keylevels)
# export(keylevels.default)
# export(keylevels.keyset)
# export(keyrows)
# export(keyrows.default)
# export(keyrows.keyset)
# export(keyrows.NULL)
# export(restrict)
# export(restrict_slice)
# export(restrict_slice.default)

## Deprecated
# (none)


## New S3 methods
# S3method(keylevels, default)
# S3method(keylevels, keyset)
# S3method(keyrows, default)
# S3method(keyrows, keyset)
# S3method(keyrows, NULL)
# S3method(framed, dataset)
# S3method(framed, default)
# S3method(grouped, dataset)
# S3method(grouped, default)
# S3method(restrict_slice, default)


## Base S3 methods

### dataset
# S3method(as.data.frame, dataset)
# S3method(as.matrix, dataset)
# S3method(`dimnames<-`, dataset)
# S3method(row.names, dataset)
# S3method(`row.names<-`, dataset)
# S3method(transform, dataset)
